---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { Card, CardGrid } from "@astrojs/starlight/components";
---

<StarlightPage
  frontmatter={{
    title: "Checkmate",
    template: "splash",
    hero: {
      title: "Checkmate",
      tagline:
        "Streamlining Your Test Case Management",
      actions: [
        {
          text: "Get started",
          link: "/introduction/introduction",
          icon: "right-arrow",
        },
      ],
    },
  }}
>
  <CardGrid>
    <Card title="Features" icon="seti:default">
      <ul class="list-inside">
        <li>Project-level segregation of tests</li>
        <li>Create Run</li>
        <li>Manage Run</li>
        <li>Download Reports</li>
        <li>Role-Based Access Control (RBAC)</li>
      </ul>
    </Card>

    <Card title="Open APIs" icon="seti:default">
      <ul class="list-inside">
        <li>APIs to integrate it with your automation frameworks</li>
      </ul>
    </Card>
  </CardGrid>
</StarlightPage>
